//大屏导航
body{
  background-color:#f0f4f3;
  height:6000px;
  overflow: auto;
//overflow:hidden;
}
@mixin border{
  width:100%;
  border:1px solid #b5b5b5;
  border-radius:4px;
}
@mixin font{
  color:#444;
  letter-spacing:2px;
  font:{
    font-family:'宋体';
    size:12px;
  }
}
@mixin title{
  width:100%;
  .head{
    width:100%;
    margin:0 auto;
    margin-top:82px;
    text-align: center;
    img{
      width:150px;
    }
  }
}

//banner
.banner{
  width:100%;
  height:660px;
  position:relative;
  ul.box{
    width:100%;
    height:100%;
    position:relative;
    li{
      position:absolute;
      width:100%;
      height:100%;
      opacity:1;
      a{
        display: block;
        width:100%;
        height:100%;
        background-position: center;
        background-size: cover;
      }
      .lis1{
        background-image: url("../../image/Yy-image/home_08.png"); 
      }
      .lis2{
        background-image: url("../../image/Yy-image/bna_04.png"); 
      }
      .lis3{
        background-image: url("../../image/Yy-image/bna_06.png"); 
      }
      .lis4{
        background-image: url("../../image/Yy-image/bna_08.png"); 
      }
      .lis5{
        background-image: url("../../image/Yy-image/bn5.png"); 
      }
    }
  }
  ul.circle{
      position: absolute;
      bottom:10px;
      left:50%;
      margin-left:-50px;
      width:100px;
      height:10px;
      display: flex;
      justify-content: space-between;
      z-index:200;
      li{
          width:10px;
          height:10px;
          border-radius:50%;
          background-color:rgba(255,255,255,0.4);
      }
      .select{
          background-color: rgba(0,0,0,0.4);
      }
  }
  .left,.right{
      width:60px;
      height:60px;
      position:absolute;
      top:50%;
      margin-top:-30px;
      line-height:60px;
      text-align: center;
      font-family:'宋体';
      font-size:30px;
      font-weight:bold;
      color:rgba(255,255,255,0.4);
      background-color:rgba(0,0,0,0.2);
      border-radius:4px;;
      display:none;
      transition:all 0.3s;
      cursor:pointer;
  }
  .left{
      left:20px;
  }
  .right{
      right:20px;
  }
}
.banner:hover .left,.banner:hover .right{
    display: block;
}
.banner .left:hover,.banner .right:hover{
    background-color:rgba(255,255,255,0.4);
    color:#fff;
}
//关于我们
.about{
  @include title;
}
.about{
  .container{
    .row{
      .about-list{
        margin-top:40px;
        text-align: center;
        .about-bg{
          width:480px;
          height:340px;
          margin:0 auto;
          margin-top:40px;
          background-image:url("../../image/Yy-image/index_11.png");
          background-size:100% 100%;
          background-position:center;
          background-repeat:no-repeat;
          text-align: center;
          transition:transform 0.4s;
          img{
            width:420px;
            margin-top:30px;
          }
        }
        .about-text{
          margin-top:20px;
          p{
            @include font;
            margin:0;
          }
          span{
            @include font;
            line-height:0;
            font-size:20px;
          }
        }
      }
    }
  }
}
.about .container .row .about-list .about-bg:hover{
  transform:translateY(-4px);
  box-shadow:0 6px 20px rgba(0,0,0,0.04);
}

//茶馆环境
@mixin line{
  width:36%;
  height:4px;
  margin:0 auto;
  margin-top:24px;
  display: flex;
  justify-content: space-between;
  li{
    width:25%;
    height:2px;
    border-radius:2px;
    background-color:#bfbfbf;
  }
}
.around{
  @include title;
  .contain{
    width:1170px;
    margin:0 auto;
    margin-top:80px;
    .ar-row{
      width:1170px;
      height:462px;
      margin:0 auto;
      position:relative;
      .col{
        width:48%;
        height:auto;
        text-align: center;
        overflow: hidden;
        img{
          width:470px;
        }
      }
      .col-mid{
        position:absolute;
        top:-36px;
        left:50%;
        margin-left:-231px;
      }
    }
  }
}
.around .contain .ar-row .lef{
  float:left;
  text-align: center;
  img{
    float:right;
  }
}
.around .contain .ar-row .righ{
  float:right;
  text-align: center;
  img{
    float:left;
  }
}
.around .text{
  width:450px;
  margin:0 auto;
  text-align: center;
  p{
    @include font;
  }
  ul{
    @include line;
  }
}
//我们产品
.pro{
  @include title;
  .container{
    margin-top:40px;
    .ar-row{
      width:100%;
      .col{
        float: left;
        width:27%;
        text-align: center;
        margin-top:4%;
        img{
          width:100%;
        }
        p{
          @include font;
          margin-top:10px;
        }
      }
      .col-mid{
        float: left;
        width:46%;
        text-align: center;
        img{
          width:80%;
        }
        p{
          @include font;
          margin-top:10px;
        }
      }
    }
  }
}
.pro .more{
  width:100%;
  text-align: center;
  img{
    width:300px;
    margin-top:20px;
  }
}
.add{
  width:100%;
  img{
    width:100%;
  }
}
//新闻
.news{
  @include title;
  .context{
    margin-top:20px;
    .n-list{
      margin-top:20px;
      h6 img{
        width:24px;
      }
      h6 p{
        display: inline-block;
        margin-left:10px;
        font-size:16px;
        color:#333;

      }
      .content{
        padding-left:7%;
        box-sizing: border-box;
        .left{
          float:left;
          width:36%;
          img{
            width:180px;
          }
        }
        .righ{
          float:left;
          width:64%;
          p{
            font-size:12px;
            color:#444;
          }
          .more{
            float:left;
            width:18px;
            height:18px;
            background-color:rgba(0,0,0,0.3);
            text-align: center;
            line-height:14px;
            font-size:16px;
            color:#fff;
            border-radius:50%;
            margin-top:20px;
          }
          span{
            line-height:60px;
            margin-left:10px;
          }
        }
      }
    }
  }
}
.news .more{
  width:100%;
  text-align: center;
  img{
    width:300px;
    margin-top:40px;
  }
}
//百科茶叶
.tea{
@include title;
.line{
    width:450px;
    margin:0 auto;
    ul{
      @include line;
    }
}
.tea-list{
    width:420px;
    margin:0 auto;
    margin-top:28px;
    display:flex;
    justify-content:space-around;
    li{
      font-size:16px;
      color:#585757;
      font-weight:500;
    }
    .active{
      text-decoration: underline;
    }
}
.tea-contain{
    margin-top:20px;
    .tea-col{
        float:left;
        box-sizing: border-box;
        width:33.33333%;
        margin:0 auto;
        z-index:10;
        .con{
            width:80%;
            .title{
                h6{
                  display: inline-block;
                  font-size:14px;
                  margin-left:8px;
                  font-weight:normal;
                }
                p{
                  margin-top:8px;
                  width:80%;
                  line-height:20px;
                  font-size:12px;
                  color:#2f2f2f;
                }
      }
            
        }
    }
    .active{
        z-index:30;
    }
}
}
.tea .more{
width:100%;
text-align: center;
img{
    width:300px;
    margin-top:40px;
}
}
//联系我们
.contact{
    @include title;
    .text{
        margin-top:20px;
        color:#818181;
        font-size:12px;
        text-align: center;
        padding:0 10px;
    }
    .area{
        width:90%;
        margin:0 auto;
        .con-lef{
            input{
                height:48px;
                @include border;
                background-color: #f0f4f3;
                margin-top:20px;  
                text-indent:10px;
                color:#c5c5c5;  
                outline:none;  
                   
            }
        }
        .con-rig{
            textarea{
                height:184px;
                @include border;
                background-color: #f0f4f3;
                margin-top:20px;
                outline:none;
            }
        }
    }
}
@media screen and (min-width:992px) and (max-width:1200px){
  .about .container .row .about-list .about-bg {
    width: 420px;
    height:310px;
    img{
      margin-top:36px;
      width:360px;
    }
  }
  .around .contain{
    width:970px;
    .ar-row{
      width:970px;
    }
  }
  .news .context .n-list .content .left{
    width:40%;
    img{
      width:160px;
    }
  }
  .news .context .n-list .content .righ{
    width:60%;
  }
}
@media screen and (min-width:768px) and (max-width:992px){
  .about .container{
    width:100%;
  }
  .pro .container{
    width:100%;
  }
  .about .container .row .about-list .about-bg {
    width:368px;
    height:268px;
    transition:all 0.2s;
    img{
      width:320px;
      margin-top:28px;
    }
  }
  .around .contain{
    width:100%;
    .ar-row{
      width:100%;
    }
  }
}
@media screen and (max-width:768px){
  .banner{
    height:420px;
  }
  .about .container .row .about-list .about-bg{
      width:320px;
      height:230px;
      margin:0 auto;
      img{
        width:280px;
        margin-top:20px;
      }
  }
  .about .container .row .about-list{
    margin-top:20px;
  }
  .around .contain{
    width:100%;
    .ar-row{
      width:100%;
      height:240px;
      .col{
        width:48%;
        img{
          width:100%;
        }
      }
      .col-mid{
        width:56%;
        text-align: center;
        margin-left:-28%;
        top:-10%;
      }
    }
  }
  .around .contain .ar-row .col-mid img{
    width:100%;
  }
  .around .text{
    width:80%;
  } 
  .pro .container{
    width:100%;
    padding:0;
    .ar-row{
      width:100%;
      .col{
        width:28%;
        margin-top:5%;
        img{
          width:100%;
        }
        p{
          display: none;
        }
      }
      .col-mid{
        width:44%;
        img{
          width:100%;
        }
      }
    }
  }
  .news .context .n-list .content .left{
      float: none;
      width:100%;
      img{
          width:100%;
      }
  }
  .news .context .n-list .content .righ{
      float: none;
      width:100%;
      p{
        margin-top:10px;
        width:100%;
      }
      .more{
        margin-top:10px;
      }
      span{
          line-height:40px;
      }
  }
  .tea .tea-contain{
      height:242px;
  }
  .tea .tea-contain .t-row{
      position: relative;
  }
  .tea .tea-contain .tea-col{
      float:none;
      position: absolute;
      width:280px;
      overflow: hidden;
  }
  .tea .tea-contain .t-lef{
      left:-180px;
  }
  .tea .tea-contain .t-mid{
      left:50%;
      margin-left:-140px;
      z-index:20;
  }
  .tea .tea-contain .t-righ{
      right:-180px;
  }
  .tea-contain{
      width:100%;
//    position: relative;
      margin-top:40px;
    .tea-col{
        float:none;
        position: absolute;
        width:280px;
      .con{
          width:100%;
          .tea-img{
              width:280px;
              img{
                width:280px;  
              }
          }
      }
    }
  } 
}
//.tea-contain{
//  margin-top:20px;
//  .tea-col{
//      float:left;
//      box-sizing: border-box;
//      width:33.33333%;
//      margin:0 auto;
//      z-index:10;
//      .con{
//          width:80%;
//          .title{
//              h6{
//                display: inline-block;
//                font-size:14px;
//                margin-left:8px;
//                font-weight:normal;
//              }
//              p{
//                margin-top:8px;
//                width:80%;
//                line-height:20px;
//                font-size:12px;
//                color:#2f2f2f;
//              }
//    }
//          
//      }
//  }
//  .active{
//      z-index:30;
//  }
//}