body{
  overflow:auto;
  background-color:#F0F4f3;
}

div.head{
  width:100%;
  height:740px;
  background:pink;
}

div.row.context{
  margin-top:98px;
  //左边标题
  div.left{
    padding-left:70px;
    padding-right:20px;
    box-sizing:border-box;
    //      background:red;

    text-align:center;
    >img{
      width:100%;
    }
    div.title{
      width:62.5%;
      height:135px;
      //      background:#fff;
      margin:0 auto;
      text-align:center;
      img{
        margin-top:26px;
      }
    }

    div.team{
      width:90%;
      height:100px;
      background:#eee;
      margin:0 auto;
      margin-top:19px;
      //          box-sizing:border-box;
      background-color:#F0F4F3;

      //          margin-top:10px;
      background-position:center;
      background-size:100%;

      p:first-child{
        padding-top:15px;
        box-sizing:border-box;
        text-align:center;
        font-size:24px;
        height:50%;
        line-height:1.5em;
        color:#9c9c9c;
      }
      p:nth-child(2){
        text-align:center;
        font-size:14px;
        height:50%;
        line-height:1.5em;
        color:#9c9c9c;
      }


    }

    div.team.active{
      background-image:url(../../image/cr-image/bgg.png);
      background-repeat:no-repeat;
    }
    //小屏
    @media screen and (min-width:768px) and (max-width:992px){
      div.team{
        height:80px;
      }
      div.team > p:first-child{
        text-align:center;
        font-size:18px;
        line-height:1.5em;
        height:50%;
        //                  padding-top:10px;
        box-sizing:border-box;
        color:#9c9c9c;
      }
      div.team > p:nth-child(2){
        text-align:center;
        font-size:10px;
        height:50%;
        line-height:.5em;
        color:#9c9c9c;
      }


      div.title{
        height:90px;
      }
      div.title > img{
        width:100%;
      }
    }
  }

  //左边小屏
  div.leftxs{
    margin-top:-38px;

    div.titleb{
      text-align:center;
    }
    div.intro{
      width:100%;
      height:150px;
      display:flex;
      justify-content: space-around;
      padding-top:40px;
      padding-bottom:50px;
      padding-right:30px;
      padding-left:30px;
      div.font{
        width:33.33333%;
        border-right:1px solid #BFBFBF;
        p{
          width:100%;
          text-align:center;
          color:#9c9c9c;
          font-size:30px;
          margin-bottom:0;
        }
        p:nth-child(1){
          font-family:"times new roman";
          line-height:1em;
        }
        p:nth-child(2){
          font-size:20px;
          line-height:1.1em;
        }
      }
      div.font:first-child{
        border-left:1px solid #BFBFBF;
      }
      div.font.active{
        p{
          color:#4c4c4c;
        }
      }
    }
  }


  //右边文字
  div.right{
    height:auto;
    text-align:center;
    margin-bottom:90px;
    > img:nth-of-type(1){
      width:92%;
    }
    > img:nth-of-type(2){
      width:60%;
    }
    > img:nth-of-type(3){
      width:30%;
    }
    div.title{
      width:95%;
      height:118px;
      text-align:center;
      padding-top:30px;
      box-sizing:border-box;
      margin:0 auto;
    }
    p:nth-of-type(1){
      width:95%;
      text-align:center;
      font-size:30px;
      padding-top:10px;
      box-sizing:border-box;
      //margin-bottom:0px;
      color:#565656;
      margin:0 auto;
    }
    p:nth-of-type(2){
      width:95%;
      text-align:center;
      font-size:18px;
      color:#4e4e4e;
      margin:0 auto;
    }
    p:nth-of-type(3){
      width:95%;
      text-align:center;
      font-size:18px;
      color:#4e4e4e;
      margin:0 auto;
      height:40px;
      line-height:40px;
      letter-spacing: 5px;
    }
    .right-head{
      //width: 716px;
      height: 323px;
      border: 1px solid #ccc;
    }
    .right-list{
      width: 100%;
      height:100%;
      .list{
        width: 100%;
        height: 125px;
        margin: 5% 0;
        .xuhao{
          width: 14%;
          height: auto;
          float: left;
          //background: #111;
          text-align: center;
          //line-height: 125px;
          margin-top: 5%;
        }
        .tu{
          width: 25%;
          height: 100%;
          float: left;
          //background: #333;
          img{
            width: 100%;
          }
        }
        .biaoti{
          width: 26%;
          float: left;
          //background: #666;
          text-align: left;
          padding-left: 30px;
          span:nth-child(1){
            color:#A2A4A3;
            font-size: 14px;
            //line-height: 20px;
          }
          #ti{
            display: block;
            width: 100%;
            text-align: left;
            font-size: 16px;
            color: #3B3B3B;

            span{
              line-height: 10px;
              font-size: 15px;
              color: #3B3B3B;
              font-family: "苹方";
              font-weight: 500;
            }
          }
          span:nth-child(4){
            color:#131212;
            line-height: 40px;
            font-size: 14px;
            padding-right: 10px;

          }
          span:nth-child(5){
            color:#272727;
            font-size: 14px;
            padding: 15px 0;
            line-height: 25px;
            font-weight: bold;
            font-family: "苹方";
          }
        }
        .miaoshu{
          width: 35%;
          //height: 125px;
          float: left;
          padding: 0 20px;
          p{
            display: block;
            width: 100%;
            padding: 3% 0;
            font-size: 14px;
            line-height: 24px;
            text-align: left;
            box-sizing: border-box;
          }
        }

      }
      .h-line{
        height: 1px;
        background: #DFE1DE;
        &:nth-child(1){
          margin-top: 44px;
        }
      }
    }
  }
}
  @media screen and (max-width:768px){

    .rightxp-list{
      width: 95%;
      height:auto;
      //mrgin-top:20px;
      .h-line{
        width: 95%;
        height: 1px;
        background: #DFE1DE;
        margin: 20px auto;
      }
      .li{
        width: 100%;
        height: auto;


      }
      div.guide{
        width: 100%;
        text-align: left;
        //margin:0 auto;
        padding: 0 10%;

      }
      div.tuwen{
        width: 90%;
        height: auto;
        margin: 15px auto;
        overflow: hidden;
        .tu{
          width: 45%;
          float:left;


          img{
            width: auto;
          }
        }
        .wen{
          width: 50%;
          margin-left: 5%;
          box-sizing:border-box;
          float: left;
          #p1,#p2,#p3{
            width:100%;
            margin-top: 2%;
            overflow: hidden;
            font-size: 12px;
            text-align: left;
          }
        }
      }
    }
  }

//分页开始
ul.pagination{
  width:80%;
  height:60px;
  margin:35px auto;
  display:flex;
  justify-content:space-around;
  a.lefta,a.righta{
    width:50px;
    height:50px;
    background-image:url(../../image/cr-image/cir_03.png);
    background-position:center;
    background-size:100%;
    background-repeat:no-repeat;
    background-color:rgba(0,0,0,0);
    border:none;
    padding:0;
    span{
      float:left;
      width:100%;
      height:100%;
      font-size:22px;
      font-weight:bold;
      color:#fff;
      text-align:center;
      line-height:50px;
      font-family:'宋体';
    }
  }
  >li.nubli{
    width:50px;
    padding:0;
    margin:0;
    background-color:rgba(0,0,0,0);
    height:50px;
    text-align:center;
    padding-top:15px;
    padding-left:15px;
    >a.nub{
      float:left;
      padding:0;
      margin:0;
      width:20px;
      height:20px;
      border-radius:50%;
      background:none;
      border:none;
      color:#9FA0A0;
      font-size:18px;
      line-height:20px;
    }
    >a.active{
      background-color:#7E6B5A;
      color:#fff;
    }
  }
}
//分页结束

//底部开始
.sxy-foot{
  background-color: #222;
  .sxy-infor{
    display: flex;
    justify-content: space-between;
  }
  a{
    color: #fff;
  }
}
.sxy-footlist{
  padding-top: 70px;
  width: 20%;
  height: auto;
  display: flex;
  justify-content: space-between;
  .sxy-line{
    width: 1px;
    height: 95px;
    background-color: #f2f2f2;
    display: inline-block;
    margin-top: 5px;
  }
  li> a{
    font-size: 18px;
    width: 18px;
    display: inline-block;
  }
}
.sxy-footlist p> a{
  font-size: 24px;
  width: 24px;
  margin-top: -3px;
  display: inline-block;
}
.sxy-infor >.sxy-ma{
  width: 95px;
  height: 95px;
  padding-top: 70px;
}
.sxy-infor >.sxy-ma > img{
  width: 95px;
}
.sxy-row2{
  padding: 50px;
  text-align: center;
  div{
    color: #fff;
    font-size: 18px;
  }
}
//底部结束
