@charset "UTF-8";
body {
  overflow: auto;
  background-color: #F0F4f3;
}

div.head {
  width: 100%;
  height: 740px;
  background: pink;
}

div.row.context {
  margin-top: 98px;
}

div.row.context div.left {
  padding-left: 70px;
  padding-right: 20px;
  box-sizing: border-box;
  text-align: center;
}

div.row.context div.left > img {
  width: 100%;
}

div.row.context div.left div.title {
  width: 62.5%;
  height: 135px;
  margin: 0 auto;
  text-align: center;
}

div.row.context div.left div.title img {
  margin-top: 26px;
}

div.row.context div.left div.team {
  width: 90%;
  height: 100px;
  background: #eee;
  margin: 0 auto;
  margin-top: 19px;
  background-color: #F0F4F3;
  background-position: center;
  background-size: 100%;
}

div.row.context div.left div.team p:first-child {
  padding-top: 15px;
  box-sizing: border-box;
  text-align: center;
  font-size: 24px;
  height: 50%;
  line-height: 1.5em;
  color: #9c9c9c;
}

div.row.context div.left div.team p:nth-child(2) {
  text-align: center;
  font-size: 14px;
  height: 50%;
  line-height: 1.5em;
  color: #9c9c9c;
}

div.row.context div.left div.team.active {
  background-image: url(../../image/cr-image/bgg.png);
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  div.row.context div.left div.team {
    height: 80px;
  }
  div.row.context div.left div.team > p:first-child {
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
    height: 50%;
    box-sizing: border-box;
    color: #9c9c9c;
  }
  div.row.context div.left div.team > p:nth-child(2) {
    text-align: center;
    font-size: 10px;
    height: 50%;
    line-height: .5em;
    color: #9c9c9c;
  }
}

div.row.context div.right {
  height: auto;
  text-align: center;
}

div.row.context div.right > img:nth-of-type(1) {
  width: 92%;
}

div.row.context div.right div.title {
  width: 95%;
  height: 118px;
  text-align: center;
  padding-top: 30px;
  box-sizing: border-box;
  margin: 0 auto;
}

div.row.context div.right p:nth-of-type(1) {
  width: 95%;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  box-sizing: border-box;
  margin-bottom: 0px;
  color: #565656;
  margin: 0 auto;
}

div.row.context div.right p:nth-of-type(2) {
  width: 95%;
  text-align: center;
  font-size: 18px;
  color: #4e4e4e;
  margin: 0 auto;
}

div.row.context div.right p:nth-of-type(3) {
  width: 95%;
  text-align: center;
  font-size: 18px;
  color: #4e4e4e;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  letter-spacing: 5px;
}

div.row.context div.right p:nth-of-type(4) {
  width: 95%;
  text-align: left;
  font-size: 14px;
  color: #231815;
  margin: 0 auto;
  padding-top: 50px;
  box-sizing: border-box;
  line-height: 20px;
  font-family: '苹方';
}

div.row.context div.right p:nth-of-type(5) {
  width: 95%;
  text-align: left;
  font-size: 14px;
  color: #231815;
  margin: 0 auto;
  padding-top: 20px;
  box-sizing: border-box;
  line-height: 20px;
  font-family: '苹方';
}

div.row.context div.right p:nth-of-type(6) {
  width: 95%;
  text-align: left;
  font-size: 14px;
  color: #231815;
  margin: 0 auto;
  padding-top: 20px;
  box-sizing: border-box;
  line-height: 20px;
  font-family: '苹方';
}

div.row.context div.right div.fourp {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

div.row.context div.right div.fourp div.lp {
  float: left;
  width: 61.6%;
  height: auto;
  padding-right: 15px;
  box-sizing: border-box;
}

div.row.context div.right div.fourp div.lp img {
  width: 100%;
  margin-top: 20px;
}

div.row.context div.right div.fourp div.lp img:nth-child(2) {
  margin-top: 20px;
}

div.row.context div.right div.fourp div.rp {
  float: left;
  width: 38.4%;
  height: auto;
  padding-top: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

div.row.context div.right div.fourp div.rp img {
  width: 100%;
}

div.row.context div.right div.fourp div.rp img:nth-child(2) {
  margin-top: 20px;
}

div.row.context div.right p:nth-of-type(6) ~ p {
  width: 95%;
  text-align: left;
  font-size: 12px;
  color: #231815;
  margin: 0 auto;
  padding-top: 20px;
  box-sizing: border-box;
  line-height: 20px;
}

div.row.foot {
  margin-top: 90px;
}

div.row.foot div.line {
  width: 100%;
  height: 3px;
}

div.row.foot div.line img {
  width: 100%;
}
