@charset "UTF-8";
body {
  overflow: auto;
  background-color: #F0F4f3;
}

div.head {
  width: 100%;
  height: 740px;
  background: pink;
}

div.row {
  margin-top: 98px;
}

div.row div.left {
  padding-left: 90px;
  box-sizing: border-box;
  height: 200px;
  text-align: center;
}

div.row div.left div.title {
  width: 252px;
  height: 135px;
  margin: 0 auto;
  text-align: center;
}

div.row div.left div.title img {
  margin-top: 26px;
}

div.row div.left div.team {
  width: 252px;
  height: 96px;
  background: #eee;
  margin: 0 auto;
  padding-top: 19px;
  box-sizing: border-box;
  background-color: #F0F4F3;
  background-position: center;
  background-size: 100%;
}

div.row div.left div.team p:first-child {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  color: #9c9c9c;
}

div.row div.left div.team p:nth-child(2) {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #9c9c9c;
}

div.row div.left div.team.active {
  background-image: url(../../image/cr-image/bgg_18.png);
}

div.row div.right {
  height: auto;
  text-align: center;
}

div.row div.right div.title {
  width: 715px;
  height: 118px;
  text-align: center;
  padding-top: 30px;
  box-sizing: border-box;
  margin: 0 auto;
}

div.row div.right p:nth-of-type(1) {
  width: 715px;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  box-sizing: border-box;
  margin-bottom: 0px;
  color: #565656;
  margin: 0 auto;
}

div.row div.right p:nth-of-type(2) {
  width: 715px;
  text-align: center;
  font-size: 18px;
  color: #4e4e4e;
  margin: 0 auto;
}

div.row div.right p:nth-of-type(3) {
  width: 715px;
  text-align: center;
  font-size: 18px;
  color: #4e4e4e;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  letter-spacing: 5px;
}

div.row div.right p:nth-of-type(4) {
  width: 715px;
  text-align: left;
  font-size: 14px;
  color: #231815;
  margin: 0 auto;
  padding-top: 50px;
  box-sizing: border-box;
  line-height: 20px;
  font-family: '苹方';
}

div.row div.right p:nth-of-type(5) {
  width: 715px;
  text-align: left;
  font-size: 14px;
  color: #231815;
  margin: 0 auto;
  padding-top: 20px;
  box-sizing: border-box;
  line-height: 20px;
  font-family: '苹方';
}

div.row div.right p:nth-of-type(6) {
  width: 715px;
  text-align: left;
  font-size: 14px;
  color: #231815;
  margin: 0 auto;
  padding-top: 20px;
  box-sizing: border-box;
  line-height: 20px;
  font-family: '苹方';
}

div.row div.right div.fourp {
  width: 715px;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

div.row div.right div.fourp div.lp {
  float: left;
  width: 419px;
  height: auto;
}

div.row div.right div.fourp div.lp img {
  margin-top: 20px;
  margin-right: 15px;
}

div.row div.right div.fourp div.lp img:nth-child(2) {
  margin-top: 21px;
}

div.row div.right div.fourp div.rp {
  float: left;
  width: 281px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  box-sizing: border-box;
  margin-left: 15px;
}

div.row div.right div.fourp div.rp img:nth-child(2) {
  margin-top: 20px;
}

div.row div.right p:nth-of-type(6) ~ p {
  width: 715px;
  text-align: left;
  font-size: 12px;
  color: #231815;
  margin: 0 auto;
  padding-top: 20px;
  box-sizing: border-box;
  line-height: 20px;
}
